@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/YuseiMagic-Regular.ttf') format('truetype');
}

body {
    background: linear-gradient(135deg, #51b9f5, #8554d4, #0edb6e);
    height: 100vh;
    margin: 0;
    padding: 0;
}
.hauptcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.closebtn{
    position: absolute;
    top: 10px;
    left: 10px;
}

#closeBtn{
    background-color: transparent;
    border: none;
}
.material-symbols-outlined{
    font-size: 2.5em;
}
.material-symbols-outlined:active{
    color: whitesmoke;
}

.header{
    margin-top: 10%;
    font-family: "CustomFont";
    font-size: 22px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
}