@font-face {
  font-family: "CustomFont";
  src: url("../fonts/YuseiMagic-Regular.ttf") format("truetype");
}

body {
  background: linear-gradient(135deg, #51b9f5, #8554d4, #0edb6e);
  height: 100vh;
  margin: 0;
  padding: 0;
}
.hauptcontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.closebtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

#closeBtn {
  background-color: transparent;
  border: none;
}
.material-symbols-outlined {
  font-size: 2.5em;
}
.material-symbols-outlined:active {
  color: whitesmoke;
}

.header {
  margin-top: 10%;
  font-family: "CustomFont";
  font-size: 22px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}
.auswahlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 98%;
  border: 2px solid tomato;
}

#labelAsc {
  margin-top: 5%;
  font-size: 1.5em;
  color: #f2ff05;
  font-weight: 600;
  margin-bottom: 3%;
}
.auswahlAsc {
  width: 50%;
  height: 10%;
  text-align: center;
  font-size: 1.3em;
}

.label1{
  margin-top: 5%;
  font-size: 1.5em;
  color: #f2ff05;
  font-weight: 600;
  margin-bottom: 3%;
}

#labelStuetzpunkt {
  margin-top: 2%;
  font-size: 1.5em;
  color: #f2ff05;
  font-weight: 600;
  margin-bottom: 3%;

  display: none;
}

#auswahlStuetzpunkt{
    
    display: none;
}

hr {
  margin-top: 5%;
  width: 80%;
}

@media (min-width: 768px) {
  .hauptcontainer {
    width: 60vw;
    height: 80vh;
    margin: auto;
    position: relative;
  }

  .header {
    font-size: 2rem;
  }

  .auswahlContainer {
    width: 80%;
  }

  .auswahlAsc {
    width: 70%;
  }
}
