body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
}
#closeBtn {
    background-color: transparent;
    border: none;
    padding: 0;
}
.material-symbols-outlined {
    font-size: 2.5em;
}
.material-symbols-outlined:active {
    color: whitesmoke;
}