body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
}
#closeBtn {
    background-color: transparent;
    border: none;
    padding: 0;
}
.material-symbols-outlined {
    font-size: 2.5em;
}
.material-symbols-outlined:active {
    color: whitesmoke;
}

.hauptcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card{
    margin-top: 10%;
    height: 50%;
    width: 80%;
    border: 2px solid brown;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

.sectionH{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid red;
    height: 50%;
    width: 100%;
}

.sectionV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 50%;
    width: 100%;
}